<div class="background">
<div class="container">

    <div class="jumbotron">
        <h1 id="color-override"><div id="burgerhubtitle">Burger<div id="hub">Hub</div></div></h1>
        <p id="color-override">Get Stuffed</p>
        <br>
        <h2 id="color-override">Tell us what you want</h2>
        <panel>
            <form id="formboxsize" class="create-form">
                <div class="form-group">                    
                    <input type="text" id="newburger" name="burger" >
                    <button type="submit" class="btn btn-success" id="addburger"><span><div id="doit">Let's do it</div></span></button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">

        <!-- Created Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>Ready to Eat</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span><div id="lips"></div></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Devoured</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trashburger btn btn-danger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span><div id="trash"></div></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</div>